In [18]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://postgres:postgres@localhost/sql_homework')
engine.connect()
engine.table_names()

/Users/sabrinakaram/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """

['department', 'dept_manager']

In [15]:
department_df = pd.read_csv('/Users/sabrinakaram/Desktop/SQL_Challenge/EmployeeSQL/Data_Files/departments.csv')
department_df.to_sql('department', engine)

ValueError: Table 'department' already exists.

In [20]:
dept_emp_df = pd.read_csv('/Users/sabrinakaram/Desktop/SQL_Challenge/EmployeeSQL/Data_Files/dept_emp.csv')
dept_emp_df.to_sql('dept_emp', engine)

ValueError: Table 'dept_emp' already exists.

In [17]:
dept_manager_df = pd.read_csv('/Users/sabrinakaram/Desktop/SQL_Challenge/EmployeeSQL/Data_Files/dept_manager.csv')
dept_manager_df.to_sql('dept_manager', engine)

ValueError: Table 'dept_manager' already exists.

In [21]:
employees_df = pd.read_csv('/Users/sabrinakaram/Desktop/SQL_Challenge/EmployeeSQL/Data_Files/employees.csv')
employees_df.to_sql('employees', engine)

In [22]:
salaries_df = pd.read_csv('/Users/sabrinakaram/Desktop/SQL_Challenge/EmployeeSQL/Data_Files/salaries.csv')
salaries_df.to_sql('salaries', engine)

In [23]:
titles_df = pd.read_csv('/Users/sabrinakaram/Desktop/SQL_Challenge/EmployeeSQL/Data_Files/titles.csv')
titles_df.to_sql('titles', engine)